# Terraform local files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# Usually commit this in real projects, but optional for labs
# .terraform.lock.hcl

# OS/editor
.DS_Store
.vscode/
.idea/